{{ define "main" }}
<main id="pjax-box" class="single">
    <!-- 页面信息头部 -->
    <section class="post-info narrow">
        <div class="screen">
            <div class="post-info-content">
                <div class="title-box main-reveal">
                    <div class="title">{{ .Title }}</div>
                    {{ if .Description }}
                    <div class="subtitle">{{ .Description }}</div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <!-- 页面内容 -->
    <section class="single post-content narrow">
        <div class="screen">
            <div class="content-and-toc no-toc">
                <div class="content main-reveal">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}
